.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 100px;
    align-items: center;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
  }
  
  .reset-password-link {
    margin-top: 15px;
  }

  .logo {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px; /* Ajusta el tamaño según tus necesidades */
    margin-bottom: 20px; /* Espacio entre el logo y el título */
  }

  h2 {
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
  }
  