<mat-toolbar >
  <!-- Logo y texto en el centro -->
  <div class="row">
    <div class="header-content" style="margin-top: 80px;margin-left: 6px;">    
      <div  class="col-sm-3" style=" width:30%">
        <img src="assets/lemaLogo.png" alt="Logo"  style="margin-top: 10px;margin-left: 6px; width: 150px; height: 90px;">
      </div>      
      <div class="col-sm-2 d-flex align-items-center justify-content-center"  style=" width:40%">
        <span>{{ client[0]?.name }}</span>
      </div>
      <div class="col-sm-7 d-flex align-items-center justify-content-end"  style=" width:10%">
        <button mat-raised-button [matMenuTriggerFor]="alumnosMenu" aria-label="Menú Alumnos"  class="small-button">
          <span>Alumnos</span>
        </button>
        <mat-menu #alumnosMenu="matMenu" yPosition="above">
          <button mat-menu-item (click)="redirectTo('usuarios')">Padres de Familia</button>
          <button mat-menu-item (click)="redirectTo('alumnos')">Alumnos</button>
          <button mat-menu-item (click)="redirectTo('reportes-alumnos')">Reportes</button>
        </mat-menu>
        <button  mat-raised-button [matMenuTriggerFor]="adminMenu" aria-label="Menú Administración"  class="small-button">
          <span>Administración</span>
        </button>
        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item (click)="redirectTo('consola')">Consola</button>
          <button mat-menu-item (click)="redirectTo('pagos')">Pagos</button>
          <button mat-menu-item (click)="redirectTo('cobranza')">Cobranza</button>
          <button mat-menu-item (click)="redirectTo('productos')">Productos</button>
          <button mat-menu-item (click)="redirectTo('promociones')">Promociones</button>
          <button mat-menu-item (click)="redirectTo('nutricion')">Nutrición</button>
          <button mat-menu-item (click)="redirectTo('reportes-administracion')">Reportes</button>
        </mat-menu>
        <button  mat-raised-button [matMenuTriggerFor]="notificacionesMenu" aria-label="Menú Notificaciones"   class="small-button">
          <span>Notificaciones</span>
        </button>
        <mat-menu #notificacionesMenu="matMenu">
          <button mat-menu-item (click)="redirectTo('notificaciones')">Notificaciones</button>
        </mat-menu>      
        <button  mat-raised-button [matMenuTriggerFor]="salonesMenu" aria-label="Menú Salones"  class="small-button">       
          <span>Salones</span>
        </button>
        <mat-menu #salonesMenu="matMenu">
          <button mat-menu-item (click)="redirectTo('salones')">Salones</button>
          <button mat-menu-item (click)="redirectTo('maestros')">Maestros</button>
          <button mat-menu-item (click)="redirectTo('reportes-salones')">Reportes</button>
        </mat-menu>
      
      </div>
    </div>
    <div class="row" style=" margin-bottom: 15px;">
      <button  mat-raised-button [matMenuTriggerFor]="userMenu" aria-label="Menú Usuario"  class="small-button">       
        <span>{{ user?.displayName }}</span>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
        <button mat-menu-item (click)="configuracion()">Configuración</button>
      </mat-menu> 
    </div>
  </div>
</mat-toolbar>
<mat-toolbar style="height: 80px;">
    <!-- Logo and Text in the Center -->
    <div style="flex: 1; display: flex; justify-content: center; align-items: center;">

      <span style="font-size: 24px;">Notificaciones</span>
    </div>
</mat-toolbar>
<div class="content main-content" role="main">

    <mat-tab-group>    
        <mat-tab label="Notificaciones Generales"> 
          <div style="margin-bottom: 10px;margin-top: 10px;">
            <button mat-raised-button (click)="addNewNotify()">Nueva notificación</button>
        </div>
        <div>
          <ng-container>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Pagos
                  </mat-panel-title>
                  <mat-panel-description>
                    Cantidad ({{ nPagos }} )
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="notifyPayments && notifyPayments.length > 0">
                  <table>
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th>Repeticiones al Día</th>
                        <th>Activo</th>
                        <th>...</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <!--   <tr *ngFor="let record of notifyPayments">
                        <td>{{ record.studentName }}</td>
                        <td>{{ formatTime(record.initialTime) }}</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!(notifyPayments && notifyPayments.length > 0)">
                  <p>No hay notificaciones programadas  para pagos</p>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Noticias
                  </mat-panel-title>
                  <mat-panel-description>
                    Cantidad ({{ nNoticias }} )
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="notifyNews && notifyNews.length > 0">
                  <table>
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th>Repeticiones al Día</th>
                        <th>Activo</th>
                        <th>...</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <!--   <tr *ngFor="let record of notifyNews">
                        <td>{{ record.studentName }}</td>
                        <td>{{ formatTime(record.initialTime) }}</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!(notifyNews && notifyNews.length > 0)">
                  <p>No hay notificaciones para Noticias</p>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Avisos
                  </mat-panel-title>
                  <mat-panel-description>
                    Cantidad ({{ nAvisos }} )
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="notifyAvisos && notifyAvisos.length > 0">
                  <table>
                    <thead>
                      <tr>
                        <th style="width: 40px;">Fecha</th>
                        <th style="width: 210px;">Titulo</th>
                        <th style="width: 600px;">Descripción</th>
                        <th style="width: 100px;">Inicio</th>
                        <th style="width: 100px;">Término</th>
                        <th style="width: 100px;">Repeticiones al Día</th>
                        <th style="width: 60px;">Activo</th>
                        <th style="width: 20px;">...</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of notifyAvisos">                     
                      <td style="width: 40px;">{{record.date_creation  | dateFormatM: 'month' }}</td>
                      <td style="width: 210px;" >{{record.title}}</td>
                      <td style="width: 600px;">{{record.description}}</td>
                      <td style="width: 100px;">{{record.startDate | dateFormat}}</td>
                      <td style="width: 100px;">{{record.expiredDate | dateFormat }}</td>
                      <td style="width: 100px;">{{record.repeatAtDay}}</td>
                      <td style="width: 60px;">{{record.active }}</td>
                      <td style="width: 20px;">                       
                        <button mat-icon-button [matMenuTriggerFor]="chatSetting">
                          <mat-icon>...</mat-icon>
                        </button>
                        <mat-menu #chatSetting="matMenu">            
                         <button mat-menu-item (click)="verNotify(record)">Ver Aviso</button>
                         <button mat-menu-item (click)="borrarNotify(record.uid)">Borrar Aviso</button> 
                        </mat-menu>                       
                      </td>
                    </tr>                
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!(notifyAvisos && notifyAvisos.length > 0)">
                  <p>No hay notificaciones para Avisos</p>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Logros
                  </mat-panel-title>
                  <mat-panel-description>
                    Cantidad ({{ nLogros }} )
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="notifyLogros && notifyLogros.length > 0">
                  <table>
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th>Repeticiones al Día</th>
                        <th>Activo</th>
                        <th>...</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <!--   <tr *ngFor="let record of notifyLogros">
                        <td>{{ record.studentName }}</td>
                        <td>{{ formatTime(record.initialTime) }}</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!(notifyLogros && notifyLogros.length > 0)">
                  <p>No hay notificaciones  para Logros</p>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Emergencias
                  </mat-panel-title>
                  <mat-panel-description>
                    Cantidad ({{ nEmergencia }} )
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="notifyEmergency && notifyEmergency.length > 0">
                  <table>
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th>Repeticiones al Día</th>
                        <th>Activo</th>
                        <th>...</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <!--   <tr *ngFor="let record of notifyEmergency">
                        <td>{{ record.studentName }}</td>
                        <td>{{ formatTime(record.initialTime) }}</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!(notifyEmergency && notifyEmergency.length > 0)">
                  <p>No hay notificaciones para Emergencias</p>
                </div>
              </mat-expansion-panel>

            </mat-accordion>
          </ng-container>
        </div>
        </mat-tab>
        <mat-tab label="Notificaciones por Salon">  </mat-tab>
        <mat-tab label="Notificaciones por Alumno">  </mat-tab>
        <mat-tab label="Notificaciones por Usuario">  </mat-tab>
    </mat-tab-group>
    </div>