.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .alumno-card {
    max-width: 300px;
    margin: 20px;  
  }
  
  .avatar {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }