<mat-toolbar >
    <!-- Logo y texto en el centro -->
    <div class="row">
      <div class="header-content" style="margin-top: 80px;margin-left: 6px;">    
        <div  class="col-sm-3" style=" width:30%">
          <img src="assets/lemaLogo.png" alt="Logo"  style="margin-top: 10px;margin-left: 6px; width: 150px; height: 90px;">
        </div>      
        <div class="col-sm-2 d-flex align-items-center justify-content-center"  style=" width:40%">
          <span>{{ client[0]?.name }}</span>
        </div>
        <div class="col-sm-7 d-flex align-items-center justify-content-end"  style=" width:10%">
          <button mat-raised-button [matMenuTriggerFor]="alumnosMenu" aria-label="Menú Alumnos"  class="small-button">
            <span>Alumnos</span>
          </button>
          <mat-menu #alumnosMenu="matMenu" yPosition="above">
            <button mat-menu-item (click)="redirectTo('usuarios')">Padres de Familia</button>
            <button mat-menu-item (click)="redirectTo('alumnos')">Alumnos</button>
            <button mat-menu-item (click)="redirectTo('reportes-alumnos')">Reportes</button>
          </mat-menu>
          <button  mat-raised-button [matMenuTriggerFor]="adminMenu" aria-label="Menú Administración"  class="small-button">
            <span>Administración</span>
          </button>
          <mat-menu #adminMenu="matMenu">
            <button mat-menu-item (click)="redirectTo('consola')">Consola</button>
            <button mat-menu-item (click)="redirectTo('pagos')">Pagos</button>
            <button mat-menu-item (click)="redirectTo('cobranza')">Cobranza</button>
            <button mat-menu-item (click)="redirectTo('productos')">Productos</button>
            <button mat-menu-item (click)="redirectTo('promociones')">Promociones</button>
            <button mat-menu-item (click)="redirectTo('nutricion')">Nutrición</button>
            <button mat-menu-item (click)="redirectTo('reportes-administracion')">Reportes</button>
          </mat-menu>
          <button  mat-raised-button [matMenuTriggerFor]="notificacionesMenu" aria-label="Menú Notificaciones"   class="small-button">
            <span>Notificaciones</span>
          </button>
          <mat-menu #notificacionesMenu="matMenu">
            <button mat-menu-item (click)="redirectTo('notificaciones')">Notificaciones</button>
          </mat-menu>      
          <button  mat-raised-button [matMenuTriggerFor]="salonesMenu" aria-label="Menú Salones"  class="small-button">       
            <span>Salones</span>
          </button>
          <mat-menu #salonesMenu="matMenu">
            <button mat-menu-item (click)="redirectTo('salones')">Salones</button>
            <button mat-menu-item (click)="redirectTo('maestros')">Maestros</button>
            <button mat-menu-item (click)="redirectTo('reportes-salones')">Reportes</button>
          </mat-menu>
        
        </div>
      </div>
      <div class="row" style=" margin-bottom: 15px;">
        <button  mat-raised-button [matMenuTriggerFor]="userMenu" aria-label="Menú Usuario"  class="small-button">       
          <span>{{ user?.displayName }}</span>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
          <button mat-menu-item (click)="configuracion()">Configuración</button>
        </mat-menu> 
      </div>
    </div>
  </mat-toolbar>
  <mat-toolbar style="height: 80px;">
      <!-- Logo and Text in the Center -->
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
  
        <span style="font-size: 24px;">Consola de Registro</span>
      </div>
  </mat-toolbar>
  <div class="content main-content" role="main">
    <mat-tab-group >
        <mat-tab [label]="'Inicio ' + getFechaActualFormateada()">
          <div  style="margin-top: 15px; margin-left: 15px; width: 100%;"> 
            <div class="example-button-row">
              <button mat-raised-button style="margin-left: 50px;" (click)="cargaAlumno()">Ingreso</button>           
              <button mat-raised-button style="margin-left: 50px;" (click)="cargaAlumnoSalida()">Salida</button>           
            </div>        
          </div>
          <div  style="margin-top: 15px;">
          <ng-container *ngIf="salones.length > 0" >
            <mat-accordion>
              <mat-expansion-panel *ngFor="let salon of salones">
                <mat-expansion-panel-header>
                  <mat-panel-title> {{ salon.name }} </mat-panel-title>
                  <mat-panel-description>
                   Cantidad de Alumnos Activos ( {{ salon.studentsTotal }})
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="salon.consolaTable && salon.consolaTable.records.length > 0">
                  <table>
                    <thead>
                      <tr>
                        <th>Nombre del Estudiante</th>
                        <th>Hora de Inicio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of salon.consolaTable.records">
                        <td>{{ record.studentName }}</td>
                        <td>{{ formatTime(record.initialTime) }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!(salon.consolaTable && salon.consolaTable.records.length > 0)">
                  <p>No hay alumnos ingresados en este salón</p>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </ng-container>
          <ng-container *ngIf="salones.length === 0">
            <p>Sin salones.</p>
          </ng-container>
        </div>
        </mat-tab>
    </mat-tab-group>
  </div>