.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  button.mat-icon-button {
    margin-left: 10px; /* Espacio entre el título y el botón */
  }
  
  /* Estilos para la imagen */
  img {
    margin-left: 10px; /* Espacio entre el botón y la imagen */
    border: 1px solid #ccc; /* Borde opcional para la imagen */
  }

  